//-
 *---------------------------------------------------------------------------*
 |  index.pug                                                                |
 |                                                                           |
 |  Copyright © 2016-2017, Rajiv Bakulesh Shah, original author.             |
 |                                                                           |
 |      This program is free software: you can redistribute it and/or modify |
 |      it under the terms of the GNU General Public License as published by |
 |      the Free Software Foundation, either version 3 of the License, or    |
 |      (at your option) any later version.                                  |
 |                                                                           |
 |      This program is distributed in the hope that it will be useful, but  |
 |      WITHOUT ANY WARRANTY; without even the implied warranty of           |
 |      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU    |
 |      General Public License for more details.                             |
 |                                                                           |
 |      You should have received a copy of the GNU General Public License    |
 |      along with this program.  If not, see:                               |
 |          <http://www.gnu.org/licenses/>                                   |
 *---------------------------------------------------------------------------*



doctype html

html
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='/style.css')

        // Twitter Summary Card
        meta(name='twitter:card' content='summary')
        meta(name='twitter:site' content='@brainix')
        meta(name='twitter:title' content=twitterCard.title || 'Spool - Just music videos.')
        meta(name='twitter:description' content=twitterCard.description || "Spool takes the experience of channel surfing and puts it online. I hope that you enjoy using it as much as I've enjoyed building it.")
        meta(name='twitter:image' content=twitterCard.image || videos[0].artwork_url)

    body
        #app!= app
        script.
            videos = !{JSON.stringify(videos)};
        script(src='/bundle.js')
